.blog-post {
  @extend .page;
  overflow: hidden;

  a:hover {
    text-decoration: underline;
    color: darkorange;
  }

  .note {
    background-color: rgba(cornflowerblue, 0.2);
    border: 1px solid rgba(cornflowerblue, 0.5);
    border-radius: 5px;
    padding: 1rem;
  }
}
