.blog-post {
  @extend .page;
  overflow: hidden;

  .blog-post-image {
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    position: relative;

    &::after {
      display: block;
      position: relative;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
      margin-top: -10px;
      height: 10px;
      width: 100%;
      content: '';
      z-index: 10;
    }

    img {
      width: 100%;
      position: relative;
      z-index: 10;

      &:hover {
        z-index: 8;
      }
    }

    .attribution {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 9;

      &:hover {
        z-index: 11;
      }

      a {
        background-color: black;
        color: white;
        border-radius: 3px;
        text-decoration: none;
        padding: 4px 6px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.2;
        display: inline-block;
      }
    }
  }

  .note {
    background-color: rgba(cornflowerblue, 0.2);
    border: 1px solid rgba(cornflowerblue, 0.5);
    border-radius: 5px;
    padding: 1rem;
  }
}
