.m1 { margin: 1rem; }
.mt1 { margin-top: 1rem; }
.mb1 { margin-bottom: 1rem; }
.ml1 { margin-left: 1rem; }
.mr1 { margin-right: 1rem; }
.mh1 { margin: 0 1rem; }
.mv1 { margin: 1rem 0; }

.p1 { padding: 1rem; }
.pt1 { padding-top: 1rem; }
.pb1 { padding-bottom: 1rem; }
.pl1 { padding-left: 1rem; }
.pr1 { padding-right: 1rem; }
.ph1 { padding: 0 1rem; }
.pv1 { padding: 1rem 0; }

.w100 {
  width: 100%;
}
