@use "./base.scss";

// put your custom CSS here!
p,
ul,
text,
a,
tr,
td,
li,
ol,
ul {
  -webkit-hyphens: unset !important;
  hyphens: unset !important;
}

// buy me a coffee
a.bmc-btn {
  min-width: 150px;
  width: 150px;
  height: 40px;
  font-size: 22px;
  padding: 0 14px;
  line-height: 20px;
}

a.bmc-btn svg {
  height: 20px !important;
}

blockquote p {
  line-height: 1.2em;
}

blockquote.bible {
  white-space: pre-wrap;
}

blockquote.bible p {
  margin-block: 0;
}

blockquote.bible .verse {
  font-weight: bold;
}

code {
  white-space: pre;
}

@media print {
  .graph,
  .graph *,
  .left.sidebar,
  .breadcrumb-container,
  .tags,
  footer,
  footer * {
    display: none !important;
  }
}

.note {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 3px solid rgba(192, 255, 255, 0.9);
  margin: 0.5rem 0;
  background-color: rgba(192, 255, 255, 0.3);
}

[saved-theme="dark"] .note {
  border: 1px solid rgba(192, 255, 255, 0.3);
  background-color: rgba(128, 160, 192, 0.05);
}
